

#btnConnect {
    margin-left: 1150px;
}

/* .navbar
{
    background-color: rgb(188, 224, 247);
   
} */
.ListG{
    justify-content: space-around;
}
.design{
  background-color: #52796f;
  color: #cad2c5;
}

.designList{
    background-color: #84a98c;
    color: #2f3e46;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.cards {
    margin-top:  40px;
}

#transaction , #smartcontract  {
    margin-top: 40px;
}

#deposit , #withdraw {
    height: 250px;
}

#withbtn {
   margin: 10px;
    width: 100px;
}

#tableforpackage, #tableforwithdraw {
    margin-top: 40px;
}

.foo{
    margin-top: 50px;
    margin-bottom: 15px;
}